body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
    background-color: orange;
}

.main {
    background-color: lightblue;
}

.footer {
    background-color: orange;
}




