
body {
    margin: 0;
    padding: 0;
    text-align: center;
}

#prepa {
    color: blueviolet;
}

h1 {
    color: blue;
    text-shadow: 2px 4px 4px black;
}
h3 {
    color: orange;
}

#receta {
    color: #14efde;
}

.preparacion {
   color: tomato; 
}



header {
    background-color: lightsalmon;
}
.lista {
    width: 40%;
    border: 2px solid orange;
    border-radius: 10px;
    /* margin: auto;
    margin-bottom: 50px; */
    margin: 0 auto 50px auto ;
    box-shadow: 2px 6px 6px black;
}

p {
color: black;
}


/* 1r lugar -> buscara el id 
2do lugar -> buscara la clase
3r lugar -> buscara el elemento  */

a i{
    color: pink;
    font-weight: bold;
}
#facebook {
    color: chocolate;
}

.boton {
    color: rgb(230,1 ,100);
    background-color:#3b5998;
    border-radius: 5px;
}

.boton:hover {
    background-color: orange;
    color: white;
}

#main {
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    
}
.footer {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/5/5c/Fachada_de_la_UTN_-_Facultad_Regional_Tucum%C3%A1n.jpg");
    background-size: cover;
}

.arg {
    font-weight: bold;
}

ol {
    list-style-type: disc;
}